.form-controlAltered {
    display: block;
    width: 100%;
    height: calc(1.75rem + 2px);
    padding: 0.35rem 0.50rem;
    font-size: small;
    line-height: 0.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /* border-radius: 0.25rem; */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.SmallLabel{
    font-size: 12px;
}
.boxshadowcard {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}