<div class="wrapper">
  <!-- Sidebar  -->
  <!-- Page Content  -->
  <div id="content" class="active" style="padding:5px;">
     
      <div id="Widgets" class="testimonial-group" style="top: 0;z-index: -1;width:100%;background-color:white">
          <div class="row text-center flex-nowrap">
              <div class="ImageTxtCenter" style="margin:auto;background-color:white">
                  <a class="WidgetA" href="/Wall" style="position: relative;">
                      <div class="headerlistdiv">
                          <img class="ImageTxtCenter-img headerlistdivimg" alt="" src="assets/Image/Icons/wallwhite.png" />
                      </div>
                      <div>
                          <span class="headerlistdivspan" style="color:dimgrey">Wall</span>
                      </div>
                  </a>

                  <!-- <a class="WidgetA" href="/Offering" style="position: relative;">
                      <div class="headerlistdiv">
                          <img class="ImageTxtCenter-img headerlistdivimg" alt="" src="assets/Image/Icons/megaphonewhite.png" />
                      </div>
                      <div>
                          <span class="headerlistdivspan" style="color:dimgrey">Offering</span>
                      </div>
                  </a>

                  <a class="WidgetA" href="/Requesting" style="position: relative;">
                      <div class="headerlistdiv">
                          <img class="ImageTxtCenter-img headerlistdivimg" alt="" src="assets/Image/Icons/offeringwhite.png" />
                      </div>
                      <div>
                          <span class="headerlistdivspan" style="color:dimgrey">Requesting</span>
                      </div>
                  </a> -->

                  <a class="WidgetA" href="/Activity" style="position: relative;">
                      <div class="headerlistdiv">
                          <img class="ImageTxtCenter-img headerlistdivimg" alt="" src="assets/Image/Icons/activitywhite.png" />
                      </div>
                      <div>
                          <span class="headerlistdivspan" style="color:dimgrey">Activity</span>
                      </div>
                  </a>

                  <a class="WidgetB hide" href="/MembersList" style="position: relative;">
                      <div class="headerlistdiv">
                          <img class="ImageTxtCenter-img headerlistdivimg" alt="" src="assets/Image/Icons/teamwhite.png" />
                      </div>
                      <div>
                          <span class="headerlistdivspan" style="color:dimgrey">Members</span>
                      </div>
                  </a>

<!-- 

                  <a class="WidgetB hide" href="/User/Calender" style="position: relative;">
                      <div class="headerlistdiv">
                          <img class="ImageTxtCenter-img headerlistdivimg" alt="" src="assets/Image/Icons/calendarwhite.png" />
                      </div>
                      <div>
                          <span class="headerlistdivspan" style="color:dimgrey">Calender</span>
                      </div>
                  </a> -->
                  <a class="WidgetB hide" (click)="navigate('ChatList')" style="position: relative;">
                      <div class="headerlistdiv">
                          <img class="ImageTxtCenter-img headerlistdivimg" alt="" src="assets/Image/Icons/message.png" />
                      </div>
                      <div>
                          <span class="headerlistdivspan" style="color:dimgrey">Message</span>
                      </div>
                  </a>
                  <!-- <a class="WidgetB hide" href="/User/Poll" style="position: relative;">
                      <div class="headerlistdiv">
                          <img class="ImageTxtCenter-img headerlistdivimg" alt="" src="assets/Image/Icons/pollwhite.png" />
                      </div>
                      <div>
                          <span class="headerlistdivspan" style="color:dimgrey">Poll</span>
                      </div>
                  </a> -->
                  <!-- <a class="WidgetB hide" href="/Suggest" style="position: relative;">
                      <div class="headerlistdiv">
                          <img class="ImageTxtCenter-img headerlistdivimg" alt="" src="assets/Image/Icons/suggestwhite.png" />
                      </div>
                      <div>
                          <span class="headerlistdivspan" style="color:dimgrey">Suggest</span>
                      </div>
                  </a> -->
                  <!-- <a class="WidgetA" href="" onclick="MoreWidgets()" style="position: relative;">
                      <div class="headerlistdiv">
                          <img class="ImageTxtCenter-img headerlistdivimg" alt="" src="assets/Image/Icons/morewhite.png" />
                      </div>
                      <div>
                          <span id="spanmorewidget" class="headerlistdivspan" style="color:dimgrey">More</span>
                      </div>
                  </a> -->
              </div>
          </div>
      </div>
      
  </div>
</div>
<router-outlet></router-outlet>