<!--The content below is only a placeholder and can be replaced.-->
 <nav-bar></nav-bar>
 <wall-modules-navigation-bar></wall-modules-navigation-bar>

<!--<div class="container">
<div class="row">
  <div class="col-md-3">    
      <community-notification-list [ComList]="CommunityList"></community-notification-list>
    
  </div>
  <div class="col-md-5">
    <div *ngFor="let members of PostDetails">
      <text-only-card [data]="members"></text-only-card>
    </div>
  </div>
  <div class="col-md-4">
      <wall-notification></wall-notification>
  </div>
</div>
</div> -->
<!-- <wall-page></wall-page> -->
<router-outlet></router-outlet>