<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div>
        <div class="card" style="width:100%">
          <img class="card-img-top" src="~/Image/unknown1.jpg" alt="Card image" style="width:100%">
          <div class="card-body">

            <h5 class="card-title">Ramanathan</h5>
            <span style="font-size:13px;" class="card-text">Where there is a will there is a way</span>

          </div>

        </div>
        <div class="card" style="margin-top:10px;">         
          <div class="card-body">
            <div>
              <span class="HeadingSpan">Adddress</span>
            </div>
            <div>
              <span class="HeadingAnswerSpan">G401,Shriram Apartment Manish Nagar</span></div>

            <div>
              <span class="HeadingSpan">Email</span></div>
            <div>
              <span class="HeadingAnswerSpan">ramanan123@gmail.com</span>
            </div>

            <div>
              <span class="HeadingSpan">Phone</span></div>
            <div>
              <span class="HeadingAnswerSpan">7200036852</span>
            </div>

            <div>
              <span class="HeadingSpan">Marital</span>
            </div>
            <div>
              <span class="HeadingAnswerSpan">Single</span>
            </div>
       
     
         
            <div>
              <span class="HeadingSpan">Working</span>
            </div>
            <div>
              <span class="HeadingAnswerSpan">Software Developer,TVS NEXT</span>
            </div>

            <div><span class="HeadingSpan">Place</span></div>
            <div>
              <span class="HeadingAnswerSpan">SP Infocity</span>
            </div>

            <div><span class="HeadingSpan">Social Profile</span>
            </div>
            <div class="d-flex justify-content-start mb-3">
              <div class="p-2"><img src="~/Image/Icons/instagram.png" /> </div>
              <div class="p-2"><img src="~/Image/Icons/facebook.png" /></div>
              <div class="p-2"><img src="~/Image/Icons/twitter.png" /></div>
              <div class="p-2"><img src="~/Image/Icons/linkedin.png" /></div>
              <div class="p-2"><img src="~/Image/Icons/snapchat.png" /></div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-md-12">
        <ul class="nav nav-pills nav-justified" role="tablist" style="padding-top:10px;">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#feed">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#community">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#notification">Notification</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#saved">Saved</a>
          </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="padding-top:10px;">
          <div id="community" class="tab-pane">
            <div class="row">


            </div>
          </div>
          <div id="feed" class="tab-pane active" style="padding-left:0px;">
            <div class="row">

            </div>
          </div>

          <div id="notification" class="container tab-pane fade">

          </div>
          <div id="saved" class="container tab-pane fade">
            <br>
            <h3>saved</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>